button {
    border-color: rgb(160, 196, 212);
    font-size: 20px;
    padding: .5em;

    padding-top: .1em;
    padding-bottom: 4px;
}

button:hover {
    box-shadow: -2px 2px goldenrod;
    background-color: rgb(254, 255, 185);
    border-color: red;
}

/* GLOBAL TYPOGRAPHY */
body {
    display: flex;
    background-color: #dcdcdc;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 1.25em;
    min-height: 100vh;
    margin: auto;
}


/* FLEXBOX LAYOUT */
html,
body {
    min-height: 90vh;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
}
    header {
        background-image: linear-gradient(to right, rgb(6, 156, 243), lightblue);
        height: 2em;
        justify-content: space-between;


        font-size: 25px;

        font-weight: 100;
        color: rgb(153, 6, 250);
    }

    main {
        display: flexbox;
        flex: auto;
        max-width: 80%;
        margin: auto;
    }

    footer {
        height: 8em;
        background-color: #7a7a7a;
        text-align: center;
    }


    /* HEADER/FOOTER */
    header,
    footer {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: fantasy;
    }



/* FORM ELEMENTS */
input {
   width: 100%;
    padding: .5em;

    background: #FCFCFC;
    border: 1px solid;

}

input:hover {
    background-color: rgb(254, 255, 220);
}

input:focus {
    background-color: rgb(220, 255, 220);
}





.completed {
    background-color: rgb(181, 245, 181);
    text-decoration: line-through;
    margin-right: 2px;
    margin-bottom: 1px;
   
}

button:disabled {
    background-color: #918585;
}



.separator {
    column-span: all;
    height: 30px;
}
.row-striped:nth-of-type(odd){
    background-color: #caadff;
  }
  
  .row-striped:nth-of-type(even){
    background-color: #fdff9f;
  }


.is_urgent {
    margin-right: 2px;
    margin-bottom: 1px;
    padding: 5px;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 900;
   border-collapse: separate;
   
}
.is_urgent:nth-of-type(odd){
    background-color: #f19898;
}
.is_urgent:nth-of-type(even){
    background-color: #fa7676;
}.row {
    column-span: all;
    margin: 5px;
}