button {
    border-color: rgb(160, 196, 212);
    font-size: 20px;
    padding: .5em;
  
    padding-top: .1em;
    padding-bottom: 4px;
}
button:hover {
    box-shadow: -2px 2px goldenrod;
    background-color: rgb(254, 255, 185);
    border-color: red;
}
/* GLOBAL TYPOGRAPHY */
body {
    background-color: #dcdcdc;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 1.25em;
    min-height: 100vh;
    margin: auto;
  }
  
    
  /* FLEXBOX LAYOUT */
  html, body {
    min-height: 90vh;
    margin: auto;
  }
  body {
    display: flex;
    flex-direction: column;
  header {
   background-image: linear-gradient(to right, rgb(6, 156, 243), lightblue);
    height: 2em;
   justify-content: space-between;
    
    
    font-size: 25px;
  
    font-weight: 100;
    color: rgb(153, 6, 250)  ;
  }
  main {
    display: flexbox;
    flex:auto;
    max-width: 80%;
    margin: auto;
  }
  footer {
    height: 8em;
    background-color: #7a7a7a;
    text-align: center;
  }
  
  
  /* HEADER/FOOTER */
  header, footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: fantasy;
  }
    
    
    
   
  }
  #h1 {
    font-size: 2em;
    -webkit-text-stroke-width: 0px ;
    -webkit-text-stroke-color: rgb(53, 114, 245) ;
    font-weight: 900;
  }
  
  
  /* FORM ELEMENTS */
  input {
    border-top-left-radius: 0;
    
    padding: .5em;
    width: 175px;
    background: #FCFCFC;
    border: 1px solid;
    
    
  }
  input:hover {
    background-color: rgb(254, 255, 220);
  }
  input:focus {
    background-color: rgb(220, 255, 220);
  }


  
  
  /* TABLE */
  table {
   
    width: 100%;
    text-align: left;
  }
  table, th, td {
   
    
    border: 1px solid black;
    border-collapse: collapse;
    height: 2em;
  }
  th, td {
    padding: .4em;
    min-width: 3em;
  }
  thead {
    background-image: linear-gradient(to top,rgb(116, 116, 255), lightblue);
    color: #fcfcfc;
  }
  tbody:nth-child(odd){ 
background-color: #fffeb9;
   font-family: sans-serif; 
   color: black;
  }
  tbody:nth-child(even){
background-color: #bfe7ff;
    font-family: sans-serif;
    color: black;
  }



h4 {
    text-align: right;
    -webkit-text-stroke-width: 0 ;
    -webkit-text-stroke-color: rgb(12, 27, 36) ;
}

#headerText{
    text-align: right;
    width: max-content;
}



#isUrgent{
  border-radius: 1em;
    border-top-right-radius: .4em;
    border-bottom-left-radius: .4em;
    
}
#filler{
    width: 200px;
}


select{
  border-radius: .5em;
}

.is_urgent {
    color: red;
    border-color: red;
    border-style: double;
    background-color: rgb(241, 152, 152);
}
.completed {
    background-color: green;
}
button:disabled {
    background-color: #918585;
}