button {
    border-color: rgb(184, 255, 156);
    font-size: 20px;
    padding: .5em;
    border-radius: 1em;
    padding-top: .1em;
    padding-bottom: 4px;
}

button:hover {
    border-radius: .5em;
    box-shadow: 4px 1px rgb(132, 251, 132);
    background-color: rgb(195, 252, 178);
    border-color: green;
    
}

/* GLOBAL TYPOGRAPHY */
body {
    display: flex;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 1.25em;
    min-height: 100vh;
    margin: auto;
}

h1 {
    text-align: center;
}

/* FLEXBOX LAYOUT */
html,
body {
    min-height: 90vh;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-image: linear-gradient(to top, #FFC62F, #4F2683);

}

main {
    display: flexbox;
    flex: auto;
    max-width: 80%;
    margin: auto;
}

footer {
    height: 8em;
    background-color: #7a7a7a;
    text-align: center;
}


/* HEADER/FOOTER */
header,
footer {
    height: 100%;
    display: flex;
    text-align: center;

}



/* FORM ELEMENTS */
input {
    width: 100%;
    padding: .5em;

    background: #FCFCFC;
    border: 1px solid;

}

input:hover {
    background-color: rgb(254, 255, 220);
}

input:focus {
    background-color: rgb(220, 255, 220);
}



tr {
    background-color: #4F2683;
    color: #FFC62F;
}



button:disabled {
    background-color: #918585;
}


.row-striped:nth-of-type(odd) {
    background-color: #caadff;
    color: #000000;
}

.row-striped:nth-of-type(even) {
    background-color: #fdff9f;
    color: #000000;
}


.is_urgent {
    margin-right: 2px;
    margin-bottom: 1px;
    padding: 5px;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 500;


}

.is_urgent:nth-of-type(odd) {
    background-color: #f19898;
    color: #000000;
}

.is_urgent:nth-of-type(even) {
    background-color: #fa7676;
    color: #000000;
}

.card-body {
    background-color: #caadff;
}

.vh-100 {
    background-color: #4F2683;
}



.formSpacing2 {
    text-align: right;
}

.formSpacing {
    text-align: left;
}

.completed:nth-of-type(odd) {
    background-color: rgb(181, 245, 181);
    text-decoration: line-through;
    color: green;
    font-variant: small-caps;


}

.completed:nth-of-type(even) {
    background-color: rgb(181, 245, 181);
    text-decoration: line-through;
    color: green;
    font-variant: small-caps;


}

.submit_button {
    border-color: rgb(143, 255, 171);

    padding: .5em;
    border-radius: .5em;
    padding-top: .1em;
    padding-bottom: 4px;
}

.titleform {
    color: #FFC62F;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

table.tableSection {
    table-layout: fixed;
    word-wrap: break-word;
}

#no-strikethrough {
    text-decoration: dotted;
    background-color: rgb(181, 245, 181);
    color: black;
}